<div class="about-frame clearfix">
  <div class="about-area">
    <div class="col-md-12 col-xs-12">
      <h3>你好，欢迎来到茗香阁！</h3>
      <p>这里将为您奉上来自我们家乡的礼物，<i>信阳毛尖</i></p>
      <p>希望能在快节奏的生活和紧张的工作中，以自然的一抹嫩绿，以淡淡的茶香，给您带来好的体验</p>
    </div>
    <hr>
    <div class="col-md-6 col-xs-6">
      <h3>可以通过以下方式联系我们</h3>
      <p><b>店主：</b>雷咸锐</p>
      <p>微信：leixianrui</p>
      <p>手机：18335593703</p>
      <p><b>技术支持：</b>雷超凡</p>
      <p>微信：leichaofan520</p>
      <p>github: <a href="https://github.com/leichaofan2024/SuperStore">https://github.com/leichaofan2024/SuperStore </a></p>
      <p>logdown: <a href="http://superlei-blog.logdown.com/">http://superlei-blog.logdown.com/</a></p>
      <p>slack: @superlei-1</p>
    </div>
    <div class="col-md-6 col-xs-6">
      <img src="https://ww2.sinaimg.cn/large/006tNbRwly1feovqp7e6yj305k05kq2z.jpg" alt="">
      <div class="about-back">
        <a href="/products">返回首页</a>
      </div>
    </div>
  </div>
</div>
