<footer style="position:absolute; height:80px; width:100%;background-color:black;color:white;padding-top:20px;">
  <p class="text-center">Copyright 2017 SupterStore <br>
    Design by Superlei & XD</p>

</footer>
